@import url("./reset.css");
@import url("./normalize.css");
@import url("./sanitize.css");

:root {
  --color-denim: #224387;
  --color-cinnabar: #e44d2e;
  --color-offwhite: #f8f9fa;
  --color-offblack: #212529;
  --color-seashell: #fefaef;
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
  --font-mono: font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

  --color-bg: var(--color-seashell);
  --color-brand: var(--color-denim);
  --color-brand-secondary: var(--color-cinnabar);
  --color-text: var(--color-offblack);

  font-size: 1.2rem;
}

body {
  accent-color: var(--color-brand);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

#page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: min(70ch, calc(100vw - 4rem));
  min-height: 100vh;
  margin: auto;
}

#page > :where(header, main, footer) {
  padding: 0.75rem 0;
  /* width: 100%; */
}

#page > main {
  /* flex: 1; */
}
