@import url("./common/common.css");

main {
  width: min-content;
}
main h1 {
  margin: 0;
}
main b {
  font-weight: 550;
}

.contact {
  display: flex;
  flex-direction: column;
  font-weight: 450;
  gap: 0.2rem;
  min-width: 300px;
  width: max-content;
}
.contact .owner b {
  font-size: 1.4rem;
}
.contact .address {
  line-height: 1.1;
}
.contact .license {
  font-size: 0.8rem;
}
